<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="con" connectionString="Server=8c077aa3-4c9f-40fa-8653-a3b9012cf1a7.sqlserver.sequelizer.com;Database=db8c077aa34c9f40fa8653a3b9012cf1a7;User ID=nngqkiwdklvnsdob;Password=ZQBteW2YU5pWggSFWCMkMka3VGBdRLXFWQ8a5xmSLy3AfdatRsRoBwyPPGFDtWhi;" />
  </connectionStrings>
</configuration>